api/cbs.queue.monitoring.api/obj
domain/cbs.queue.monitoring.contracts/bin
domain/cbs.queue.monitoring.contracts/obj
domain/cbs.queue.monitoring.model/bin
domain/cbs.queue.monitoring.model/obj
domain/cbs.queue.monitoring.repository/bin
domain/cbs.queue.monitoring.repository/obj
domain/cbs.queue.monitoring.services/bin
domain/cbs.queue.monitoring.services/obj
common/cbs.common.infrastructure/bin
common/cbs.common.infrastructure/obj
common/cbs.common.dtos/bin
common/cbs.common.dtos/obj
.vs/ProjectEvaluation
.vs/cbs.queue.monitoring.api
.vs/cbs.msmq.monitoring.api
api/cbs.queue.monitoring.api/bin
api/cbs.queue.monitoring.api/.idea
packages
ui/blz/cbs.queue.blz.ui/bin/Debug
ui/blz/cbs.queue.blz.ui/obj
ui/mvc/cbs.queue.mvc/bin/Debug
ui/mvc/cbs.queue.mvc/obj
